@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

.container-photos h1{
    text-align: left;
    font: normal normal bold 40px/59px Space Mono;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.container-photos {
    text-align: center;
    margin-top: 270px;
   

}

.photo {
    display: inline-block;
    margin: 8px;
    text-align: left;
    
}

.photo img {
    width: 536px;
    height: 257px;
    
}

.container-photos h3{
    text-align: left;
    font: normal normal bold 36px/53px Space Mono;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;

}

.container-photos p{
    text-align: left;
    font: normal normal normal 28px/41px Space Mono;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;

}

.vertical-line {
    position: relative;
    width: 1640px;
    margin-top: 90px; 
    border: 3px solid #4761B4;
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
    display: block;
}



.photo-container {
    position: relative;
    margin-bottom: 50px;
    margin-top: 90px;
    width: 1640px;
    height: 555px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    
   
}

.photo- {
    margin: 8px;
      
}

.photo- img {
    width: 536px;
    height: 257px;
    
}

@media screen and (max-width:1440px) {
    .container-photos h1{
        text-align: left;
        font: normal normal bold 40px/59px Space Mono;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    }
    
    .container-photos {
        text-align: center;
        margin-top: 240px;
       
    
    }
    
    .photo {
        display: inline-block;
        margin: 8px;
        text-align: left;
        
    }
    
    .photo img {
        width: 400px;
        height: 267px;
        
    }
    
    .container-photos h3{
        text-align: left;
        font: normal normal bold 36px/53px Space Mono;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    
    }
    
    .container-photos p{
        text-align: left;
        font: normal normal normal 28px/41px Space Mono;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    
    }
    
    .vertical-line {
        position: relative;
        width: 1226px;
        margin-top: 90px; 
        border: 3px solid #4761B4;
        opacity: 1;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    
    
    
    .photo-container {
        position: relative;
        margin-bottom: 50px;
        margin-top: 90px;
        width: 1226px;
        height: 555px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        border: 1px solid white;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        
       
    }
    
    .photo- {
        display: inline-block;
        margin: 8px;
        text-align: left;
    }
    
    .photo- img {
        width: 400px;
        height: 267px;
        
    }

}   

@media screen and (max-width:1024px) {
    .container-photos h1{
        text-align: left;
        font: normal normal bold 30px/59px Space Mono;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    }
    
    .container-photos {
        text-align: center;
        margin-top: 170px;
       
    
    }
    
    .photo {
        display: inline-block;
        margin: 8px;
        text-align: left;
        
    }
    
    .photo img {
        width: 240px;
        height: 160px;
        
    }
    
    .container-photos h3{
        text-align: left;
        font: normal normal bold 18px/33px Space Mono;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    
    }
    
    .container-photos p{
        text-align: left;
        font: normal normal normal 15px/21px Space Mono;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    
    }
    
    .vertical-line {
        position: relative;
        width: 755px;
        margin-top: 50px; 
        border: 3px solid #4761B4;
        opacity: 1;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    
    
    
    .photo-container {
        position: relative;
        margin-bottom: 50px;
        margin-top: 50px;
        width: 780px;
        height: 380px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        border: 1px solid white;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        
       
    }
    
    .photo- {
        display: inline-block;
        margin: 8px;
        text-align: left;
    }
    
    .photo- img {
        width: 240px;
        height: 160px;
        
    }

}  

@media screen and (max-width:540px) {
    .container-photos h1{
        text-align: left;
        margin-bottom: 10px;
        font: normal normal bold 20px/59px Space Mono;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    }
    
    .container-photos {
        text-align: center;
        margin-top: 70px;
       
    
    }
    
    .photo {
        display: inline-block;
        margin: 8px;
        text-align: left;
        
    }
    
    .photo img {
        width: 100px;
        height: 67px;
        
    }
    
    .container-photos h3{
        text-align: left;
        font: normal normal bold 15px/33px Space Mono;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    
    }
    
    .container-photos p{
        text-align: left;
        font: normal normal normal 12px/21px Space Mono;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    
    }
    
    .vertical-line {
        position: relative;
        text-align: center;
        width: 410px;
        margin-top: 40px; 
        border: 3px solid #4761B4;
        opacity: 1;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    
    
    
    .photo-container {
        position: relative;
        margin-bottom: 50px;
        margin-top: 40px;
        width: 400px;
        height: 200px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        border: 1px solid white;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        
       
    }
    
    .photo- {
        display: inline-block;
        margin: 8px;
        text-align: left;
    }
    
    .photo- img {
        width: 100px;
        height: 67px;
        
    }

}  

@media screen and (max-width:430px) {
    .container-photos h1{
        text-align: left;
        margin-bottom: 10px;
        font: normal normal bold 20px/59px Space Mono;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    }
    
    .container-photos {
        text-align: center;
        margin-top: 60px;
       
    
    }
    
    .photo {
        display: inline-block;
        margin: 8px;
        text-align: left;
        
    }
    
    .photo img {
        width: 100px;
        height: 67px;
        
    }
    
    .container-photos h3{
        text-align: left;
        font: normal normal bold 15px/33px Space Mono;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    
    }
    
    .container-photos p{
        text-align: left;
        font: normal normal normal 12px/21px Space Mono;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    
    }
    
    .vertical-line {
        position: relative;
        text-align: center;
        width: 400px;
        margin-top: 40px; 
        border: 3px solid #4761B4;
        opacity: 1;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    
    
    
    .photo-container {
        position: relative;
        margin-bottom: 50px;
        margin-top: 40px;
        width: 400px;
        height: 200px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        border: 1px solid white;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        
       
    }
    
    .photo- {
        display: inline-block;
        margin: 8px;
        text-align: left;
    }
    
    .photo- img {
        width: 100px;
        height: 67px;
        
    }

}

@media screen and (max-width:390px) {
    .container-photos h1{
        text-align: left;
        margin-bottom: 10px;
        font: normal normal bold 20px/59px Space Mono;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    }
    
    .container-photos {
        text-align: center;
        margin-top: 60px;
       
    
    }
    
    .photo {
        display: inline-block;
        margin: 8px;
        text-align: left;
        
    }
    
    .photo img {
        width: 100px;
        height: 67px;
        
    }
    
    .container-photos h3{
        text-align: left;
        font: normal normal bold 15px/33px Space Mono;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    
    }
    
    .container-photos p{
        text-align: left;
        font: normal normal normal 12px/21px Space Mono;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    
    }
    
    .vertical-line {
        position: relative;
        text-align: center;
        width: 220px;
        margin-top: 40px; 
        border: 3px solid #4761B4;
        opacity: 1;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    
    
    
    .photo-container {
        position: relative;
        margin-bottom: 40px;
        margin-top: 40px;
        width: 200px;
        height: 260px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        border: 1px solid white;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        
       
    }
    
    .photo- {
        display: inline-block;
        margin: 8px;
        text-align: left;

    }
    
    .photo- img {
        width: 100px;
        height: 67px;
        
    }

}

@media screen and (max-width:375px) {
    .container-photos h1{
        text-align: left;
        margin-bottom: 10px;
        font: normal normal bold 20px/59px Space Mono;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    }
    
    .container-photos {
        text-align: center;
        margin-top: 60px;
       
    
    }
    
    .photo {
        display: inline-block;
        margin: 8px;
        text-align: left;
        
    }
    
    .photo img {
        width: 100px;
        height: 67px;
        
    }
    
    .container-photos h3{
        text-align: left;
        font: normal normal bold 15px/33px Space Mono;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    
    }
    
    .container-photos p{
        text-align: left;
        font: normal normal normal 12px/21px Space Mono;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    
    }
    
    .vertical-line {
        position: relative;
        text-align: center;
        width: 220px;
        margin-top: 40px; 
        border: 3px solid #4761B4;
        opacity: 1;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    
    
    
    .photo-container {
        position: relative;
        margin-bottom: 40px;
        margin-top: 40px;
        width: 200px;
        height: 260px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        border: 1px solid white;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        
       
    }
    
    .photo- {
        display: inline-block;
        margin: 8px;
        text-align: left;

    }
    
    .photo- img {
        width: 100px;
        height: 67px;
        
    }

}

@media screen and (max-width:360px) {
    .container-photos h1{
        text-align: left;
        margin-bottom: 10px;
        font: normal normal bold 20px/59px Space Mono;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    }
    
    .container-photos {
        text-align: center;
        margin-top: 60px;
       
    
    }
    
    .photo {
        display: inline-block;
        margin: 8px;
        text-align: left;
        
    }
    
    .photo img {
        width: 100px;
        height: 67px;
        
    }
    
    .container-photos h3{
        text-align: left;
        font: normal normal bold 15px/33px Space Mono;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    
    }
    
    .container-photos p{
        text-align: left;
        font: normal normal normal 12px/21px Space Mono;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    
    }
    
    .vertical-line {
        position: relative;
        text-align: center;
        width: 220px;
        margin-top: 40px; 
        border: 3px solid #4761B4;
        opacity: 1;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    
    
    
    .photo-container {
        position: relative;
        margin-bottom: 40px;
        margin-top: 40px;
        width: 200px;
        height: 260px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        border: 1px solid white;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        
       
    }
    
    .photo- {
        display: inline-block;
        margin: 8px;
        text-align: left;

    }
    
    .photo- img {
        width: 100px;
        height: 67px;
        
    }

}

@media screen and (max-width:320px) {
    .container-photos h1{
        text-align: left;
        margin-bottom: 10px;
        font: normal normal bold 20px/59px Space Mono;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    }
    
    .container-photos {
        text-align: center;
        margin-top: 60px;
       
    
    }
    
    .photo {
        display: inline-block;
        margin: 8px;
        text-align: left;
        
    }
    
    .photo img {
        width: 100px;
        height: 67px;
        
    }
    
    .container-photos h3{
        text-align: left;
        font: normal normal bold 15px/33px Space Mono;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    
    }
    
    .container-photos p{
        text-align: left;
        font: normal normal normal 12px/21px Space Mono;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    
    }
    
    .vertical-line {
        position: relative;
        text-align: center;
        width: 220px;
        margin-top: 40px; 
        border: 3px solid #4761B4;
        opacity: 1;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    
    
    
    .photo-container {
        position: relative;
        margin-bottom: 40px;
        margin-top: 40px;
        width: 200px;
        height: 260px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        border: 1px solid white;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        
       
    }
    
    .photo- {
        display: inline-block;
        margin: 8px;
        text-align: left;

    }
    
    .photo- img {
        width: 100px;
        height: 67px;
        
    }

}

@media screen and (max-width:280px) {
    .container-photos h1{
        text-align: left;
        margin-bottom: 10px;
        font: normal normal bold 20px/59px Space Mono;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    }
    
    .container-photos {
        text-align: center;
        margin-top: 60px;
       
    
    }
    
    .photo {
        display: inline-block;
        margin: 8px;
        text-align: left;
        
    }
    
    .photo img {
        width: 100px;
        height: 67px;
        
    }
    
    .container-photos h3{
        text-align: left;
        font: normal normal bold 15px/33px Space Mono;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    
    }
    
    .container-photos p{
        text-align: left;
        font: normal normal normal 10px/21px Space Mono;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    
    }
    
    .vertical-line {
        position: relative;
        text-align: center;
        width: 220px;
        margin-top: 40px; 
        border: 3px solid #4761B4;
        opacity: 1;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    
    
    
    .photo-container {
        position: relative;
        margin-bottom: 40px;
        margin-top: 40px;
        width: 200px;
        height: 260px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        border: 1px solid white;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        
       
    }
    
    .photo- {
        display: inline-block;
        margin: 8px;
        text-align: left;

    }
    
    .photo- img {
        width: 100px;
        height: 67px;
        
    }

}






