.atalhos {
    
        position: absolute;
        top: 200px;
        left: 215px;
        right: 0;
        display: flex;
        gap: 150px;  
    
}

.atalhos a{
    text-align: left;
    text-decoration: underline;
    font: italic normal normal 30px/45px Space Mono;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;

}