.banner {
    position: absolute;
    top: 365px;
    left: 145px;
    width: 536px;
    height: 570px;
    background: var(---4761b4) 0% 0% no-repeat padding-box;
    background: #4761B4 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1; 
    margin-left: -30px; 

}

.banner h1 {
    position: relative;
    top: 225px;
    left: 168px;
    width: 220px;
    height: 89px;
    margin-left: -140px;
    text-align: left;
    font: normal normal bold 60px/89px Space Mono;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;

}

.banner p {
    position: relative;
    top: 231px;
    left: 168px;
    width: 464px;
    height: 241px;
    margin-left: -140px;
    text-align: left;
    font: italic normal normal 25px/37px Space Mono;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    
}

.banner-imagem img{
    position: absolute;
    top: -1px;
    left: 692px;
    width: 1088px;
    height: 570px;
    opacity: 1;
    margin-left: -140px;

}


@media screen and (max-width: 1280px){
    .banner {
        top: 340px;
        margin-left: -100px;
        width: 420px;
        height: 420px;
        
    }

    .banner-imagem img{
        left: 565px; 
        margin-right: 10px;
        width: 760px;
        height: 420px; 

    }

    .banner h1 {
        top: 120px;
        left: 168px;
        font: normal normal bold 50px/80px Space Mono;
        
    }
    
    .banner p {
        top: 130px;
        left: 168px;
        margin-left: -140px;
        font: italic normal normal 20px/30px Space Mono;
        

    }

}

@media screen and (max-width:1024px){
    .banner {
        top: 310px;
        margin-left: -80px;
        width: 380px;
        height: 350px;
        
    }

    .banner-imagem img{
        left: 525px; 
        margin-right: 10px;
        width: 500px;
        height: 350px; 

    }

    .banner h1 {
        top: 20px;
        left: 168px;
        font: normal normal bold 45px/80px Space Mono;
        
    }
    
    .banner p {
        top: 30px;
        left: 168px;
        margin-left: -140px;
        font: italic normal normal 18px/30px Space Mono;
        
        
    }

}

@media screen and (max-width:912px){
    .banner {
        top: 280px;
        margin-left: -112px;
        width: 380px;
        height: 280px;

    }

    .banner-imagem img{
        left: 525px; 
        width: 455px;
        height: 280px;  

    }

    .banner h1 {
        top: -1px;
        left: 168px;
        font: normal normal bold 30px/80px Space Mono;

    }

    .banner p {
        top: -15px;
        left: 168px;
        margin-left: -140px;
        font: italic normal normal 18px/30px Space Mono; 

    }

}

@media screen and (max-width:853px){
    .banner {
        top: 280px;
        margin-left: -100px;
        width: 300px;
        height: 280px;  

    }

    .banner-imagem img{
        left: 445px; 
        width: 455px;
        height: 280px;  

    }

    .banner h1 {
        top: -1px;
        left: 150px;
        font: normal normal bold 25px/80px Space Mono;

    }

    .banner p {
        top: -15px;
        left: 150px;
        margin-left: -140px;
        font: italic normal normal 15px/30px Space Mono; 

    }

}

@media screen and (max-width:820px){
    .banner {
        top: 280px;
        margin-left: -118px;
        width: 300px;
        height: 280px;  

    }

    .banner-imagem img{
        left: 445px; 
        width: 455px;
        height: 280px; 

    }

    .banner h1 {
        top: -1px;
        left: 150px;
        font: normal normal bold 25px/80px Space Mono;

    }

    .banner p {
        top: -15px;
        left: 150px;
        margin-left: -140px;
        font: italic normal normal 15px/30px Space Mono;   

    }

}

@media screen and (max-width:768px){
    .banner {
        top: 280px;
        margin-left: -118px;
        width: 260px;
        height: 280px;  

    }

    .banner-imagem img{
        left: 405px; 
        width: 445px;
        height: 280px;  

    }

    .banner h1 {
        top: -1px;
        left: 150px;
        font: normal normal bold 20px/80px Space Mono;

    }

    .banner p {
        top: -15px;
        left: 150px;
        margin-left: -140px;
        font: italic normal normal 12px/30px Space Mono; 

    }

}

@media screen and (max-width:540px){
    .banner {
        top: 220px;
        margin-left: -100px;
        width: 450px;
        height: 210px;  

    }

    .banner-imagem img{
        top: 220px;
        left: 140px; 
        width: 450px;
        height: 250px;  

    }

    .banner h1 {
        top: -20px;
        left: 160px;
        font: normal normal bold 20px/80px Space Mono;

    }

    .banner p {
        top: -45px;
        left: 160px;
        width: 400px;
        height: 241px;
        margin-left: -140px;
        font: italic normal normal 15px/25px Space Mono;  

    }

}

@media screen and (max-width:430px){
    .banner {
        top: 190px;
        margin-left: -105px;
        width: 350px;
        height: 210px;   

    }

    .banner-imagem img{
        top: 220px;
        left: 140px; 
        width: 350px;
        height: 210px;  

    }

    .banner h1 {
        top: -20px;
        left: 160px;
        font: normal normal bold 20px/80px Space Mono;

    }

    .banner p {
        top: -45px;
        left: 160px;
        height: ;
        width: 280px;
        margin-left: -140px;
        font: italic normal normal 15px/25px Space Mono; 

    }

}

@media screen and (max-width:414px){
    .banner {
        top: 180px;
        margin-left: -112px;
        width: 350px;
        height: 210px;  

    }

    .banner-imagem img{
        top: 220px;
        left: 140px; 
        width: 350px;
        height: 210px;  

    }

    .banner h1 {
        top: -20px;
        left: 160px;
        font: normal normal bold 20px/80px Space Mono;

    }

    .banner p {
        top: -45px;
        left: 160px;
        height: 300px;
        width: 250px;
        margin-left: -140px;
        font: italic normal normal 12px/25px Space Mono;  

    }

}

@media screen and (max-width:412px){
    .banner {
        top: 180px;
        margin-left: -112px;
        width: 350px;
        height: 210px;  

    }

    .banner-imagem img{
        top: 220px;
        left: 140px; 
        width: 350px;
        height: 210px;  

    }

    .banner h1 {
        top: -20px;
        left: 160px;
        font: normal normal bold 20px/80px Space Mono;

    }

    .banner p {
        top: -45px;
        left: 160px;
        height: 300px;
        width: 250px;
        margin-left: -140px;
        font: italic normal normal 12px/25px Space Mono;   

    }

}

@media screen and (max-width:390px){
    .banner {
        top: 170px;
        margin-left: -125px;
        width: 350px;
        height: 210px;   

    }

    .banner-imagem img{
        top: 220px;
        left: 140px; 
        width: 350px;
        height: 210px;  

    }

    .banner h1 {
        top: -20px;
        left: 160px;
        font: normal normal bold 20px/80px Space Mono;

    }

    .banner p {
        top: -45px;
        left: 160px;
        height: 330px;
        width: 270px;
        margin-left: -140px;
        font: italic normal normal 12px/25px Space Mono; 

    }

}

@media screen and (max-width:375px){
    .banner {
        top: 170px;
        margin-left: -125px;
        width: 330px;
        height: 210px;  

    }

    .banner-imagem img{
        top: 220px;
        left: 140px; 
        width: 330px;
        height: 210px;  

    }

    .banner h1 {
        top: -20px;
        left: 160px;
        font: normal normal bold 20px/80px Space Mono;

    }

    .banner p {
        top: -45px;
        left: 160px;
        height: 330px;
        width: 270px;
        font: italic normal normal 12px/25px Space Mono;  

    }

}

@media screen and (max-width:360px){
    .banner {
        top: 170px;
        margin-left: -135px;
        width: 340px;
        height: 210px; 

    }

    .banner-imagem img{
        top: 220px;
        left: 140px; 
        width: 340px;
        height: 210px;  

    }

    .banner h1 {
        top: -20px;
        left: 160px;
        font: normal normal bold 20px/80px Space Mono;

    }

    .banner p {
        top: -45px;
        left: 160px;
        margin-left: -140px;
        font: italic normal normal 12px/25px Space Mono;  

    }

}

@media screen and (max-width:280px){
    .banner {
        top: 170px;
        margin-left: -125px;
        width: 240px;
        height: 160px; 

    }

    .banner-imagem img{
        top: 165px;
        left: 140px; 
        width: 240px;
        height: 160px;  

    }

    .banner h1 {
        top: -20px;
        left: 150px;
        font: normal normal bold 18px/80px Space Mono;

    }

    .banner p {
        top: -45px;
        left: 150px;
        width: 230px;
        height: 160px;
        margin-left: -140px;
        font: italic normal normal 12px/15px Space Mono; 

    }
    
}




